<div class="case-study">
  <div class="template-container">
    <div class="text-container">
      <h1 class="title text-center">{{ .Title }}</h1>
      <p class="summary text-center">{{ .Description }}</p>
      <p></p>

      <h2 class="section-heading text-center">OUTCOMES</h2>

      <div class="stats-container mt-5">
        <div class="stats">
          <p>AA</p>
          <p>WCAG 2.1 Standard achieved*</p>
        </div>
        <div class="stats">
          <p>1000+</p>
          <p>Accessibility issues fixed</p>
        </div>
        <div class="stats">
          <p>31</p>
          <p>End-to-end tests</p>
        </div>
      </div>
    </div>
    <div class="banner-container bg-shcolor">
      <img
        class="img_small"
        src="{{ .Params.banner_image |relURL }}"
        alt="{{ .Title }}"
      />
    </div>
    <div class="text-container">
      <h2 class="section-heading">BACKGROUND</h2>

      <div class="client-details-container mt-4">
        <div class="details-box">
          <p>Client</p>
          <p>Mental Health Solution Provider</p>
        </div>
        <div class="details-box">
          <p>Industry</p>
          <p>Healthcare</p>
        </div>
      </div>

      <p class="paragraph-body">
        Our client is a US-based healthcare solution company that breaks down barriers to mental well-being. They offer a blend of tech-powered tools, personalized coaching, and therapy, all seamlessly integrated and tailored to individual needs. This innovative approach empowers people to take charge of their mental health, making it accessible and convenient for everyone.
      </p>

      <h2 class="section-heading mt-5">WHAT WE DID</h2>
      <p class="paragraph-body">
        As our client's business grew, reaching new and diverse customers became crucial. However, the application wasn't accessible to many potential users, including those with disabilities, creating ethical and legal concerns. This limited market reach and hindered inclusivity. 
      </p>
      <p class="paragraph-body">
        We embraced accessibility as a strategic business driver and after a thorough audit, we tackled over 1,000 issues across the user experience while prioritizing the needs of diverse users:
      </p>
      <div class="what-we-did-container">
        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_2 |relURL }}"
            />
          </div>
          <p class="label">
            <b>Visual Impairment:</b> Enhanced screen reader compatibility and structured HTML elements for intuitive navigation. 
          </p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_4 |relURL }}"
            />
          </div>
          <p class="label">
            <b>Hearing Impairment:</b> Added video transcripts, image alt text, and summarized audio content. 
          </p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_1 |relURL }}"
            />
          </div>
          <p class="label">
            <b>Physical Disabilities:</b> Enabled keyboard navigation ensuring interactivity with various input methods.
          </p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_3 |relURL }}"
            />
          </div>
          <p class="label">
            Achieved WCAG 2.1 A & AA standards for conformance levels 
          </p>
        </div>
      </div>
    </div>
<div class="text-container">
  <h2 class="section-heading mt-5">A QUICK WORD ON ACCESSIBILITY</h2>
 <h3 class="project-highlights-subheading mt-4">ETHICAL IMPLICATIONS</h3>
<p class="paragraph-body">
       Roughly 15% of the US population is <a href="https://www.pewresearch.org/short-reads/2023/07/24/8-facts-about-americans-with-disabilities/#:~:text=Overall%2C%20there%20are%20about%2042.5,care%20or%20independent%20living%20difficulties.">disabled</a>, and approximately 1 in 12 men are <a href="https://www.colourblindawareness.org/colour-blindness/#:~:text=Colour%20(color)%20blindness%20(colour,and%201%20in%20200%20women.">colorblind</a>. Stats like these frequently get ignored in the initial phase of a digital product because founders work against time and underestimate their possible success. But as soon as they have more than a few hundred users, you can confidently say that at least a few of them need a more accessible product. 
      </p>
  <h3 class="project-highlights-subheading mt-4">LEGAL IMPLICATIONS</h3>
<p class="paragraph-body">
  Most Western countries have laws either encouraging accessible products or punishing the ones that are not accessible. Some such regulations and standards are:
      </p>
  <ol>
    <li>
      <a href="https://www.ada.gov/">Americans with Disabilities Act (ADA)</a>
    </li>
    <p class="paragraph-body">
      This US federal law came to pass in 1990 and protects individuals with disabilities from discrimination. It mandates equal access to employment, public accommodations, transportation, and services. Violations of the ADA can result in significant penalties and fines, with penalties ranging from $55,000 for a first violation up to $150,000 for subsequent violations, depending on the nature and severity of the offense. 
    </p>
    <li>
      <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a>
    </li>
    <p class="paragraph-body">
    WCAG, established by the World Wide Web Consortium (W3C), offers recommendations for crafting web content that is inclusive to individuals with disabilities. These standards guarantee that websites and web applications are designed to be perceivable, operable, understandable, and robust, thus broadening access to online information and services. Additionally, penalties and fines for non-compliance can vary depending on the specific laws and regulations in a given jurisdiction.
    </p>
  </ol>
  <h3 class="project-highlights-subheading mt-4">BUSINESS IMPACT</h3>
<p class="paragraph-body">
  Many governments and large organizations insist on using accessible products internally, which means if your target customer is one of these companies, your product will have to be highly accessible by different groups of people.
</p>
</div>
    <div class="text-container">
      <h2 class="project-highlights-heading">PROJECT HIGHLIGHTS</h2>

      <div class="project-highlights-grid">
        <a href="{{.Page.Permalink}}#highlight_1">
          <div class="item">
            <p class="index">1.</p>
            <p class="label">Initiating an Accessibility Audit</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_2">
          <div class="item">
            <p class="index">2.</p>
            <p class="label">Making the App Screen-Reader Friendly</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>
        <a href="{{.Page.Permalink}}#highlight_3">
          <div class="item">
            <p class="index">3.</p>
            <p class="label">Text-to-Speech Support</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_4">
          <div class="item">
            <p class="index">4.</p>
            <p class="label">Right-to-Left (RTL) Languages</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_5">
          <div class="item">
            <p class="index">5.</p>
            <p class="label">Keyboard Navigation Enhancement</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>
        <a href="{{.Page.Permalink}}#highlight_6">
          <div class="item">
            <p class="index">6.</p>
            <p class="label">Accessible PDFs</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>
      </div>

      <h3 class="project-highlights-subheading mt-5" id="highlight_1">
        1. Initiating an Accessibility Audit
      </h3>

      <p class="paragraph-body mt-3">
        To ensure the application is accessible to everyone, we used <a href="https://www.deque.com/axe/">Deque Axe</a>.This tool helped us find areas where application accessibility can be improved.
      </p>
      <p class="paragraph-body mt-3">
        After creating a priority list of tasks, we went through each one, focusing on ones that have the biggest impact.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_2">
        2. Making the App Screen-Reader Friendly 
      </h3>
      <p class="paragraph-body mt-3">
       Screen readers rely on descriptive labels to navigate through content. We started with adding appropriate labels, also ensuring all inputs were fully interactive with different input methods. 
      </p>
      <p class="paragraph-body mt-3">
        We then addressed contrast and readability issues which enhances the usability of the application for users with conditions like color blindness.
      </p>
      <p class="paragraph-body mt-3">
        Utilizing semantic HTML tags correctly, such as &lt;a&gt; for links and &lt;button&gt; for buttons, ensures compatibility with assistive technologies and provides clearer navigation cues for users. We also added 'role' attributes to elements to help clarify their purpose and behavior for assistive technologies. Assigning semantic headings with appropriate 'role' and 'aria-level' attributes aids in document structure comprehension for users of screen readers which was our next step.
      </p>
      <p class="paragraph-body mt-3">
        Ensuring that all image and icon elements have alternate text or captions was also a priority. For users to comfortably access the app, we ensured all content was fully visible with upto 400% zoom levels.
      </p>
      <p class="paragraph-body mt-3">
        We also added a 'position' attribute to dropdown elements that allows screen readers to announce the current selection's position within the dropdown list, for instance, Option 1 out of 5.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_3">
        3. Text-to-Speech Support 
      </h3>
      <p class="paragraph-body mt-3">
        We integrated text-to-speech capabilities by revamping the frontend with semantically correct HTML markup, such as using &lt;h1&gt; for main headings, &lt;h2&gt; for subheadings, and so forth. This restructuring allows text-to-speech users to navigate our app more naturally, improving their overall browsing experience.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_4">
        4. Right-to-Left (RTL) Languages
      </h3>
      <p class="paragraph-body mt-3">
        For RTL languages such as Arabic and Hebrew, we updated the app to ensure users across different linguistic backgrounds can access the content seamlessly, regardless of reading direction, thereby promoting inclusivity.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_5">
        5. Keyboard Navigation Enhancement
      </h3>
      <p class="paragraph-body mt-3">
        To facilitate easy navigation and interaction for users who rely solely on keyboard input, particularly individuals with motor impairments, we made improvements to ensure full keyboard operability throughout the app. This involved adding appropriate focus targets and labels, ensuring a logical focus order.
      </p>
      <p class="paragraph-body mt-3">
        These enhancements significantly improve accessibility for users who navigate using keyboard commands rather than a mouse.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_6">
        6. Accessible PDFs
      </h3>
      <p class="paragraph-body mt-3">
        Lastly, we updated all generated PDFs to adhere to WCAG and User Agent Accessibility Guidelines (UAAG) standards. This involved optimizing contrast ratios, enhancing keyboard navigation within PDF documents, and ensuring compatibility with text-to-speech readers.
      </p>
       <p class="paragraph-body mt-3">
        We utilized tools like the PDF Accessibility Checker (PAC) to verify compliance with these standards, ensuring that our PDFs are accessible to a wide range of users.
      </p>
      <p class="paragraph-body">
        *WCAG has 3 levels: A, AA, AAA. AA ensures high accessibility for most users, while A addresses some issues and AAA covers the widest range of guidelines.
      </p>
    </div>
  </div>
  {{ partial "recommend-case-study.html" . }} {{ partial "lets-talk.html" . }}
</div>

<style>
  .bg-shcolor {
    background-color: #E1FFFA;
  }
</style>
