<div class="case-study">
  <div class="template-container">
    <div class="text-container">
      <h1 class="title text-center">{{ .Title }}</h1>
      <!-- <p class="summary text-center">{{ .Description }}</p> -->
      <p></p>

      <h2 class="section-heading text-center">OUTCOMES</h2>

      <div class="stats-container mt-5">
        <div class="stats">
          <p>AA</p>
          <p>WCAG 2.1 Standard achieved</p>
        </div>
        <div class="stats">
          <p>1000+</p>
          <p>Accessibility issues fixed</p>
        </div>
        <div class="stats">
          <p>31</p>
          <p>End-to-end tests</p>
        </div>
      </div>
    </div>
    <div class="banner-container bg-shcolor">
      <img
        class="img_small"
        src="{{ .Params.banner_image |relURL }}"
        alt="{{ .Title }}"
      />
    </div>
    <div class="text-container">
      <h2 class="section-heading">BACKGROUND</h2>

      <div class="client-details-container mt-4">
        <div class="details-box">
          <p>Client</p>
          <p>Mental Health Solution Provider</p>
        </div>
        <div class="details-box">
          <p>Industry</p>
          <p>Healthcare</p>
        </div>
      </div>

      <p class="paragraph-body">
        Our client is a US-based healthcare solution company that breaks down barriers to mental well-being. They offer a blend of tech-powered tools, personalized coaching, and even therapy, all seamlessly integrated and tailored to individual needs. This innovative approach empowers people to take charge of their mental health, making it accessible and convenient for everyone.
      </p>

      <h2 class="section-heading mt-5">WHAT WE DID</h2>
      <p class="paragraph-body">
        As our client expanded, reaching new and diverse clients became crucial. However, their applications weren't accessible to many potential users, including those with disabilities, creating ethical and legal concerns. This limited market reach and hindered inclusivity. 
      </p>
      <p class="paragraph-body">
        
      </p>
      <div class="what-we-did-container">
        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_1 |relURL }}"
            />
          </div>
          <p class="label">
            Three months to make the product globalization ready
          </p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_2 |relURL }}"
            />
          </div>
          <p class="label">
            Following this, under seven days and minimal development effort to
            introduce a new language
          </p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_3 |relURL }}"
            />
          </div>
          <p class="label">
            Launched in 52+ countries and 22+ languages in the following months
          </p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_4 |relURL }}"
            />
          </div>
          <p class="label">
            Built trust and long-term association with the client to execute
            their vision and strategic direction
          </p>
        </div>
      </div>
    </div>

    <div class="text-container">
      <h2 class="project-highlights-heading">PROJECT HIGHLIGHTS</h2>

      <div class="project-highlights-grid">
        <a href="{{.Page.Permalink}}#highlight_1">
          <div class="item">
            <p class="index">1.</p>
            <p class="label">Initiating an accessibility audit</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_2">
          <div class="item">
            <p class="index">2.</p>
            <p class="label">Tackling the frontend</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_3">
          <div class="item">
            <p class="index">3.</p>
            <p class="label">Making the app screen-reader friendly</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_4">
          <div class="item">
            <p class="index">4.</p>
            <p class="label">RTL language support</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_5">
          <div class="item">
            <p class="index">5.</p>
            <p class="label">Adding keyboard navigation</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>
        <a href="{{.Page.Permalink}}#highlight_6">
          <div class="item">
            <p class="index">6.</p>
            <p class="label">Accessibile PDFs</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>
      </div>

      <h3 class="project-highlights-subheading mt-5" id="highlight_1">
        1. Initiating an accessibility audit
      </h3>

      <p class="paragraph-body mt-3">
        When building software products, content is often distributed across the
        application. Some are UI-embedded, while some come from the backend and
        the database.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_2">
        2. Tackling the Frontend
      </h3>
      <p class="paragraph-body mt-3">
        Every software product typically communicates with its users through its
        UI. Our first challenge was translating the UI based on the user’s
        language preference.
      </p>
    </div>

    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_3">
        3. Making the app screen-reader friendly 
      </h3>
      <p class="paragraph-body mt-3">
        Maintaining consistency is vital in development, so we took similar
        steps in the backend to those in the frontend, ensuring a seamless user
        experience without disruptions.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_4">
        4. RTL language support 
      </h3>
      <p class="paragraph-body mt-3">
        Next, we also wanted customers to receive emails in their target
        language.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_5">
        5. Adding keyboard navigation
      </h3>
      <p class="paragraph-body mt-3">
        While the application empowered users to access content in their
        preferred language, supporting RTL language was the natural next step.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_6">
        6. Accessibile PDFs
      </h3>
      <p class="paragraph-body mt-3">
        While the application empowered users to access content in their
        preferred language, supporting RTL language was the natural next step.
      </p>
    </div>
  </div>
  {{ partial "recommend-case-study.html" . }} {{ partial "lets-talk.html" . }}
</div>

<style>
  .bg-shcolor {
    background-color: #E9EAE6;
  }
</style>
