<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

  .template-container {
    margin: 0 50px 0 50px;
  }

  .title {
    margin-top: 50px;
  }

  .case-study {
    font-family: 'Nunito Sans', serif !important;
  }

  .case-study p,
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Nunito Sans', serif !important;
  }

  .text-container {
    margin: 0 auto 0 auto;
    max-width: 1100px;
  }

  .case-study .title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.9%;
    letter-spacing: 0.06em;

    color: #000000;
  }

  .summary {
    margin: 20px 0 80px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #0e3252;
  }

  .section-heading {
    color: #0e3252;
    font-size: 32px;
    font-weight: 800;
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #f1f1f1;
    border-radius: 12px;
    flex: 1;
    padding: 12px;
    padding-top: 28px;
    min-width: 200px !important;
  }

  .stats>p {
    margin: 0;
  }

  .stats>p:first-child {
    color: #0e3252;
    font-size: 60px;
    line-height: 32px;
    font-weight: 700;
  }

  .stats-container {
    display: flex;
    row-gap: 54px;
    overflow-x: auto;
    margin-bottom: 62px;
    text-align: center;
    gap: 20px;
  }

  .testimonial {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .testimonial .inner {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto 0 auto;
  }

  .testimonial p {
    max-width: 1100px;
    margin: 0 auto 0 auto;
  }

  .testimonial .text {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  .testimonial .name {
    max-width: 1100px;
    margin: 0 auto 0 auto;
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
  }

  .banner-container {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  .img_small {
    width: 50% !important;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bg-deep_blue {
    background-color: #0e3252;
  }

  .bg-grey {
    background-color: #f1f1f1;
  }

  .banner-container>img {
    width: 100%;
    margin: 0 auto 0 auto;
    display: flex;
  }

  .client-details-container {
    display: flex;
    gap: 54px;
  }

  .details-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .details-box>p {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: black;
    margin: 0;
  }

  .details-box>p:first-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }

  .paragraph-body {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
    color: black;

    margin-bottom: 2em;
  }

  .paragraph-body-list {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
    color: black;
  }

  .item-list {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
    color: black;
    margin-bottom: 2em;
  }

  .mt-5 {
    margin-top: 3em !important;
  }

  .what-we-did-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 54px;
    margin-bottom: 62px;
    justify-content: space-between;
  }

  .what-we-did-container>.item {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
  }

  .what-we-did-container>.item>.label {
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
    max-width: 24em;
    margin: auto;
  }

  .what-we-did-container>.item>.index {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #000000;
  }

  .project-highlights-heading {
    color: #0e3252;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 800;
  }

  .project-highlights-subheading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #0e3252;
  }

  .project-highlights-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 0;
    grid-template-areas:
      'item item'
      'item item';
  }

  @media (max-width: 991px) {
    .project-highlights-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 0 0;
      grid-template-areas:
        'item'
        'item'
        'item'
        'item';
    }

    .testimonial .inner {
      padding: 0 20px 0 20px;
    }
  }

  @media (max-width: 425px) {
    .img_small {
      width: 100% !important;
    }

    .template-container {
      margin: 0 20px 0 20px;
    }

    .case-study .title {
      font-size: 32px;
    }

    .summary {
      font-size: 20px;
      margin: 25px 0 50px 0;
    }

    .testimonial .text {
      font-size: 16px;
    }

    .testimonial .name {
      font-size: 14px;
    }

    .section-heading {
      font-size: 28px;
    }

    .project-highlights-subheading {
      font-size: 20px;
    }

    .project-highlights-sub-subheading {
      font-size: 18px;
    }

    .paragraph-body {
      font-size: 16px;
    }

    .paragraph-body-list {
      font-size: 16px;
    }

    .item-list {
      font-size: 16px;
    }

    .stats>p:first-child {
      font-size: 48px;
    }
  }

  .project-highlights-grid>a>.item {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: flex-baseline;
  }

  .project-highlights-grid>a>.item>.index {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-align: left;
    color: black;
  }

  .project-highlights-grid>a>.item>.label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
    max-width: 24em;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #0e3252;
    color: black;
  }

  .project-highlights-sub-subheading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-transform: capitalize;

    color: #0e3252;
  }

  body.dark-theme .case-study .title {
    color: #ffffff !important;
  }

  body.dark-theme .paragraph-body {
    color: #ffffff !important;
  }

  body.dark-theme .paragraph-body-list {
    color: #ffffff !important;
  }

  body.dark-theme .item-list {
    color: #ffffff !important;
  }

  body.dark-theme .what-we-did-container > .item > .label {
    color: #ffffff !important;
  }

  body.dark-theme .what-we-did-container > .item > .index {
    color: #ffffff !important;
  }

  body.dark-theme .project-highlights-grid > a > .item > .index {
    color: #ffffff !important;
  }

  body.dark-theme .project-highlights-grid > a > .item > .label {
    color: #ffffff !important;
  }

  body.dark-theme .details-box > p {
    color: #ffffff !important;
  }

  body.dark-theme .details-box > p:first-child {
    color: #cccccc !important;
  }
</style>
