<div class="case-study">
    <div class="template-container">
        <div class="text-container">
            <h1 class="title">
                {{ .Title }}
            </h1>
            <p class="summary">{{ .Summary }}</p>
            <p>

            <h2 class="section-heading">OUTCOMES</h2>

            <div class="stats-container mt-5">
                <div class="stats">
                    <p>2%</p>
                    <p>lorem ipsum</p>
                </div>
                <div class="stats">
                    <p>2%</p>
                    <p>lorem ipsum</p>
                </div>
                <div class="stats">
                    <p>2%</p>
                    <p>lorem ipsum</p>
                </div>
                <div class="stats">
                    <p>2%</p>
                    <p>lorem ipsum</p>
                </div>
                <div class="stats">
                    <p>2%</p>
                    <p>lorem ipsum</p>
                </div>
            </div>
        </div>
        <div class="banner-container">
            <img alt="banner" src="" />
        </div>
        <div class="text-container">
            <h2 class="section-heading">BACKGROUND</h2>

            <div class="client-details-container mt-4">
                <div class="details-box">
                    <p>Client</p>
                    <p>Client Name</p>
                </div>
                <div class="details-box">
                    <p>Industry</p>
                    <p>Industry Name</p>
                </div>
            </div>

            <p class="paragraph-body">
                Who is the client? what is the problem? Our goal (to collaborate with them to accomplish xyz/solve
                problem
                by
                providing xyz services)?Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
            <p class="paragraph-body">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            </p>

            <h2 class="section-heading mt-5">WHAT WE DID</h2>

            <div class="what-we-did-container">
                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                            src>
                    </div>
                    <p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>

                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                            src>
                    </div>
                    <p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt</p>
                </div>

                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                            src>
                    </div>
                    <p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>

                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                            src>
                    </div>
                    <p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
        <div class="banner-container">
            <img alt="banner" src="" />
        </div>
        <div class="text-container">
            <h2 class="project-highlights-heading">PROJECT HIGHLIGHTS</h2>

            <div class="project-highlights-grid">
                <div class="item">
                    <p class="index">1.</p>
                    <p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>

                <div class="item">
                    <p class="index">2.</p>
                    <p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt</p>
                </div>

                <div class="item">
                    <p class="index">3.</p>
                    <p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>

                <div class="item">
                    <p class="index">4.</p>
                    <p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>

            <h3 class="project-highlights-subheading mt-5">
                1. Lorem Ipsum DOLOR sit amet, consectetur adipiscing elit
            </h3>

            <p class="paragraph-body mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
            <p class="paragraph-body">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
            </p>

            <h4 class="project-highlights-sub-subheading">
                Some subheading
            </h4>

            <p class="paragraph-body mt-3">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
            </p>
        </div>
        <div class="banner-container">
            <img alt="banner" src="" />
        </div>
        <div class="text-container">
            <h3 class="project-highlights-subheading mt-4">
                2. Lorem Ipsum DOLOR sit amet, consectetur adipiscing elit
            </h3>

            <p class="paragraph-body mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
            <p class="paragraph-body">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
            </p>
        </div>
        <div class="banner-container">
            <img alt="banner" src="" />
        </div>
        <div class="text-container">
            <h3 class="project-highlights-subheading mt-4">
                3. Lorem Ipsum DOLOR sit amet, consectetur adipiscing elit
            </h3>

            <p class="paragraph-body mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
            <p class="paragraph-body">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
            </p>

            <h4 class="project-highlights-sub-subheading">
                Some subheading
            </h4>

            <p class="paragraph-body mt-3">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
            </p>

            <h4 class="project-highlights-sub-subheading">
                Some subheading
            </h4>

            <p class="paragraph-body mt-3">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
            </p>
        </div>
        <div class="banner-container">
            <img alt="banner" src="" />
        </div>
        <div class="text-container">

            <h3 class="project-highlights-subheading mt-4">
                4. Lorem Ipsum DOLOR sit amet, consectetur adipiscing elit
            </h3>

            <p class="paragraph-body mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
            <p class="paragraph-body">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
            </p>

            <h4 class="project-highlights-sub-subheading">
                Some subheading
            </h4>

            <p class="paragraph-body mt-3">
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
            </p>
        </div>
        <div class="banner-container">
            <img alt="banner" src="" />
        </div>
    </div>
    {{ partial "recommend-case-study.html" . }}
    {{ partial "lets-talk.html" . }}
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");


    .template-container {
        margin: 0 50px 0 50px;
    }

    .title {
        margin-top: 50px;
    }

    .case-study {
        font-family: 'Nunito Sans', serif !important
    }

    .text-container {
        margin: 0 auto 0 auto;
        max-width: 1100px;
    }

    .case-study .title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 141.9%;
        letter-spacing: 0.06em;

        color: #000000;
    }

    .summary {
        margin: 25px 0 100px 0;

        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;

        color: #0E3252;
    }

    .section-heading {
        color: #0E3252;
        font-size: 32px;
        font-weight: 800;
    }

    .stats {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 16px;
        width: 50%;
    }

    .stats>p {
        margin: 0
    }

    .stats>p:first-child {
        color: #0E3252;
        font-size: 60px;
        line-height: 32px;
        font-weight: 700;
    }

    .stats-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 54px;
        margin-bottom: 62px;
    }

    .banner-container {
        background: gray;
        width: 100%;
        height: 350px;
        margin-bottom: 50px;
    }

    .banner-container>img {
        width: 100%;
        margin: 0 auto 0 auto;
    }

    .client-details-container {
        display: flex;
        gap: 54px;
    }

    .details-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .details-box>p {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: black;
        margin: 0;
    }

    .details-box>p:first-child {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #666666;
    }

    .paragraph-body {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.06em;
        color: black;

        margin-bottom: 2em;
    }

    .mt-5 {
        margin-top: 3em !important;
    }

    .what-we-did-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 54px;
        margin-bottom: 62px;
        justify-content: space-between;
    }

    .what-we-did-container>.item {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        align-items: center;
    }

    .what-we-did-container>.item>.label {
        color: black;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.06em;
        max-width: 24em;
        margin: auto;
    }

    .what-we-did-container>.item>.index {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.06em;
        color: #000000;
    }

    .project-highlights-heading {
        color: #0E3252;
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: 800;
    }

    .project-highlights-subheading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #0E3252;
    }

    .project-highlights-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0 0;
        grid-template-areas:
            "item item"
            "item item";
    }

    @media (max-width: 991px) {
        .project-highlights-grid {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 0 0;
            grid-template-areas:
                "item"
                "item"
                "item"
                "item";
        }
    }

    .project-highlights-grid>.item {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        align-items: flex-start;
    }

    .project-highlights-grid>.item>.index {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0.06em;
        text-align: left;
        color: black;
    }

    .project-highlights-grid>.item>.label {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.06em;
        max-width: 24em;
        color: black;
    }

    .project-highlights-sub-subheading {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-transform: capitalize;

        color: #0E3252;
    }

</style>
