<div class="recommend-case-study py-5">
    <h2 class="title text-center">
        Other case studies you may be interested in
    </h2>

    <div class="d-flex justify-content-center mt-4 text-center">
        <div class="cards-container row row-cols-1 row-cols-md-2 px-sm-4">
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h3 class="card-title">Monnai: A Product Launch Journey</h3>
                        <p class="card-text">Reinventing global consumer insights for fintech</p>
                        <a class="btn btn-outline-custom" href="../monnai-case-study/">READ CASE STUDY</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h3 class="card-title">Taking a Mental Healthcare Solution Global</h3>
                        <p class="card-text">Making Mental Healthcare Accessible by Expanding the Solution Globally and Providing a Personalized Customer Experience</p>
                        <a class="btn btn-outline-custom" href="../sh-case-study/">READ CASE STUDY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

    .recommend-case-study {
        background-color: #f5f5f5;
    }

    .recommend-case-study > .title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: capitalize;
        color: #1E1E1E;
        margin: 0 20px 0 20px;
    }

    .recommend-case-study .cards-container {
        width: 65em;
    }

    @media (max-width: 576px) {
        .recommend-case-study .cards-container {
            margin-left: 0;
            margin-right: 0;

            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .recommend-case-study .card {
        background: #FFFFFF;
        padding: 0.4em 2em;
        box-shadow: 2px 2px 8px 2px #00000026;
    }

    .recommend-case-study .card-title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 141.9%;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #0E3252;
    }

    .recommend-case-study .card-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 141.9%;
        text-align: center;
        letter-spacing: 0.06em;

        color: #000000;
    }

    .recommend-case-study .btn-outline-custom {
        background-color: transparent;
        color: #0E3252;
        border-color: transparent;
        padding-bottom: 10px;
        padding-top: 10px;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 141.9%;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .recommend-case-study .btn-outline-custom:active,
    .recommend-case-study .btn-outline-custom:hover,
    .recommend-case-study .btn-outline-custom.focus,
    .recommend-case-study .btn-outline-custom.active {
        background-color: transparent !important;
        border-color: #0E3252 !important;
        color: #0E3252;
    }

    .recommend-case-study .btn-outline-custom::before {
        border-color: #0E3252 !important;
    }
</style>
