<footer class="bg-custom section pb-3">
  <div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-between mb-4 mt-0">
        <div class="d-flex align-items-center">
            <a class="d-block h3" href="{{ site.BaseURL | absLangURL}}">
                {{ with site.Params.logo_alt }}
                <img width="{{site.Params.logo_width}}" class="img-fluid" src="{{ . | relURL }}" alt="{{ site.Title }}">
                {{ end }}
            </a>
        </div>
        <div class="d-flex align-items-center footer-top">
            {{ range site.Menus.footer_top }}
                <ul><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></ul>
            {{ end }}
        </div>
        <div class="d-flex align-items-center socials">
            {{ range site.Params.social }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}" title="{{ .title }}"><i class="{{ .icon }} mr-1 ml-1"></i></a></li>
            {{ end }}
        </div>
    </div>

    <div class="border-top border-default py-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="content">
                {{ site.Copyright | markdownify }}
            </div>
            <div class="d-flex align-items-center footer-top">
                {{ range site.Menus.footer_bottom }}
                    <ul><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></ul>
                {{ end }}
            </div>
        </div>
    </div>
  </div>
  <!-- Microsoft Clarity -->
  <script type="text/javascript">
  (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window,document,"clarity","script","b5xzegngm1");
  </script>
</footer>
