<footer class="bg-custom section py-5">
  <div class="container">
    <div class="d-flex flex-lg-row flex-column justify-content-between align-items-lg-start align-items-center mb-4 mt-0 footer-top">
        <div class="logo-container">
            <a class="d-block h3" href="{{ site.BaseURL | absLangURL}}">
                {{ with site.Params.logo_alt }}
                <img class="img-fluid" src="{{ . | relURL }}" alt="{{ site.Title }}">
                {{ end }}
            </a>
        </div>
        <div class="d-flex flex-md-row flex-column align-items-center footer-top-links">
            {{ range site.Menus.footer_top }}
                <ul class="py-1"><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></ul>
            {{ end }}
        </div>
        <div class="d-flex align-items-center socials">
            {{ range site.Params.social }}
                <li class="list-inline-item py-2"><a href="{{ .link | safeURL }}" title="{{ .title }}"><i class="{{ .icon }} mr-1 ml-1"></i></a></li>
            {{ end }}
        </div>
    </div>

    <div class="border-top border-default py-3 footer-bottom">
        <div class="d-flex flex-lg-row justify-content-between flex-column align-items-center">
            <div class="content copyright">
                {{ site.Copyright | markdownify }}
            </div>
            <div class="d-flex align-items-center footer-bottom-links">
                {{ range site.Menus.footer_bottom }}
                    <ul class="p-2"><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></ul>
                {{ end }}
            </div>
        </div>
    </div>
  </div>
  <!-- Microsoft Clarity -->
  <script type="text/javascript">
  (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window,document,"clarity","script","b5xzegngm1");
  </script>
</footer>
