{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation-bar">
  <!-- <div class="container"> -->
    <div class="">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class="navbar-brand" href="{{ site.Params.homeURL | absLangURL }}">
                {{ with site.Params.logo}}
                <img width="130px" class="img-fluid" src="{{ . | relLangURL }}" alt="{{ site.Title }}">
                {{ else }}{{site.Title}}{{end}}
            </a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation" aria-label="menu">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse text-center" id="navigation">
                <!-- <ul class="navbar-nav mx-auto">
                    {{ range site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            {{ .Name }}
                        </a>
                        <div class="dropdown-menu">
                            {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
                            {{ end }}
                        </div>
                    </li>
                    {{ else }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                    {{ end }}-->


                    <!-- Language List -->
                    <!-- {{ if .IsTranslated }}
                    <select class="m-2 border-0" id="select-language" onchange="location = this.value;">
                        {{ $siteLanguages := site.Languages}}
                        {{ $pageLang := .Page.Lang}}
                        {{ range .Page.AllTranslations }}
                        {{ $translation := .}}
                        {{ range $siteLanguages }}
                        {{ if eq $translation.Lang .Lang }}
                        {{ $selected := false }}
                        {{ if eq $pageLang .Lang}}
                        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
                        </option>
                        {{ else }}
                        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </select>
                    {{ end }}
                </ul> -->

                <!-- <div>
                    <i class="fas theme-toggle p-2" id="theme-toggle-btn"></i>
                </div> -->
                {{ if site.Params.navigation_button.enable }}
                {{ with site.Params.navigation_button }}
                <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="big-btn btn btn-sm ml-3">{{ .label }}</a>
                {{ end }}
                {{ end }}
                <a class="nav-link" href="https://www.incubyte.co/" role="button">
                  home
                </a>
            </div>
        </nav>
    </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<script type="text/javascript">
    const body = document.querySelector("body");
    const themeToggleButton = document.querySelector("#theme-toggle-btn");
    
    themeToggleButton.addEventListener('click', toggleTheme);

    function toggleTheme(){
      const isDarkThemeActive = body.classList.contains("dark-theme");
      if (isDarkThemeActive) {
        changeTheme('light');
      } else{
        changeTheme('dark');
      }
    }

    function changeTheme(theme){
      if(theme == 'light') {
        themeToggleButton.classList.remove('fa-sun');
        themeToggleButton.classList.add('fa-moon');
        body.classList.remove('dark-theme');
        saveThemeToLocalStorage(theme);
        
      } else {
        themeToggleButton.classList.add('fa-sun');
        themeToggleButton.classList.remove('fa-moon');
        body.classList.add('dark-theme');
        saveThemeToLocalStorage(theme);
      }
    }

    function saveThemeToLocalStorage(theme){
      localStorage.setItem('theme', theme);
    }

    const currentTheme = localStorage.getItem('theme');
    if(currentTheme){
      if(currentTheme === 'dark') {
        changeTheme('dark');
      } else{
        changeTheme('light');
      }
    } else{
      changeTheme('light');
    }
  </script>
