<div class="case-study">
    <div class="template-container">
        <div class="text-container">
            <h1 class="title text-center">
                {{ .Title }}
            </h1>
            <p class="summary text-center">{{ .Description }}</p>
            <p>

            <h2 class="section-heading text-center">OUTCOMES</h2>

            <div class="stats-container mt-5">
                <div class="stats">
                    <p>11</p>
                    <p>Countries</p>
                </div>
                <div class="stats">
                    <p>17</p>
                    <p>Data Partner Integrations</p>
                </div>
                <div class="stats">
                    <p>3</p>
                    <p>Months For Going Live</p>
                </div>
                <div class="stats">
                    <p>92%+</p>
                    <p>Automatically Tested</p>
                </div>
                <div class="stats">
                    <p>$6.5</p>
                    <p>Million of Funding In Year One Of Going Live </p>
                </div>
            </div>
        </div>
        <div class="banner-container bg-deep_blue">
            <img class="img_small" src="{{ .Params.banner_image |relURL }}" alt="{{ .Title }}">
        </div>
        <div class="text-container">
            <h2 class="section-heading">BACKGROUND</h2>

            <div class="client-details-container mt-4">
                <div class="details-box">
                    <p>Client</p>
                    <p>Monnai</p>
                </div>
                <div class="details-box">
                    <p>Industry</p>
                    <p>Fintech</p>
                </div>
            </div>

            <p class="paragraph-body">
                The fintech market size stood at USD 112.5 billion in the year 2021. Yet, consumer data used for decision-making remain outdated and fragmented. Most provide limited data points and do not even work across countries and continents. 
            </p>
            <p class="paragraph-body">
                Monnai is on its way to changing this by providing over 500+ global and standardized consumer insights, which may be a better predictor than just one’s Social Security Number or similar other identifiers.
            </p>

            <h2 class="section-heading mt-5">WHAT WE DID</h2>
            <p class="paragraph-body">A carefully selected tech stack, high levels of automation, and following best practices from day one, helped us achieve the following for Monnai: </p>
            <div class="what-we-did-container">
                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                            src="{{ .Params.what_we_did_icon_1 |relURL }}">
                    </div>
                    <p class="label">Go to market in three months</p>
                </div>

                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                        src="{{ .Params.what_we_did_icon_2 |relURL }}">
                    </div>
                    <p class="label">The ability to respond quickly to feedback from potential customers</p>
                </div>

                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                        src="{{ .Params.what_we_did_icon_3 |relURL }}">
                    </div>
                    <p class="label">Onboarding their first customer within six months</p>
                </div>

                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                        src="{{ .Params.what_we_did_icon_4 |relURL }}">
                    </div>
                    <p class="label">Sustained frequent releases to ensure the product evolved rapidly and incrementally</p>
                </div>

                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                        src="{{ .Params.what_we_did_icon_5 |relURL }}">
                    </div>
                    <p class="label">An amazing team morale</p>
                </div>

                <div class="item">
                    <div class="rounded-circle bg-secondary">
                        <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                        src="{{ .Params.what_we_did_icon_6 |relURL }}">
                    </div>
                    <p class="label">$6.5 million of funding in just one year of going live.</p>
                </div>
            </div>
        </div>
        <div class="banner-container bg-deep_blue text-center testimonial">
            <div class="inner">
                <img style="width: 62px; height: auto; margin-bottom: -20px;"
                    src="{{ .Params.open_quote |relURL }}">
                <p class="paragraph-body text-white text">
                    We went from an initial call with Incubyte to starting work in under 15 days and from an idea to a working MVP in just three months. They started from scratch, setup our cloud infrastructure around high availability, performance and security, and helped us implement the right stack with the right setup. Their focus on best practices ensured that our product continued to evolve rapidly while we build our internal team in parallel. The well written code also made onboarding internal engineers smooth. Overall, they got us started on the right foot. They stood out as an agency that focussed heavily on quality in addition to just getting things done. We learnt a lot from Incubyte and would recommend them as engineering partners for any start-up launching new products.
                </p>
                <img style="width: 62px; height: auto; align-self: end; margin-top: -20px;"
                    src="{{ .Params.close_quote |relURL }}">
            </div>
            <img class="rounded-circle" style="width: 62px; height: 62px;background: #D9D9D9 !important;"
                src="{{ .Params.testimonial_person |relURL }}">
            <p class="label text-white name">Ravish Patel, Co-founder at Monnai</p>
        </div>
        <div class="text-container">
            <h2 class="project-highlights-heading">PROJECT HIGHLIGHTS</h2>

            <div class="project-highlights-grid">
                <a href="#highlight_1">
                    <div class="item">
                        <p class="index">1.</p>
                        <p class="label">Defining A Vision For The Product And The Partnership</p>
                        <img style="width: 28px; height: auto; align-self: start;"
                        src="{{ .Params.right_arrow |relURL }}">
                    </div>
                </a>

                <a href="#highlight_2">
                    <div class="item">
                        <p class="index">2.</p>
                        <p class="label">Automation, Automation, Automation</p>
                        <img style="width: 28px; height: auto; align-self: start;"
                        src="{{ .Params.right_arrow |relURL }}">
                    </div>
                </a>

                <a href="#highlight_3">
                    <div class="item">
                        <p class="index">3.</p>
                        <p class="label">Cloud Infrastructure</p>
                        <img style="width: 28px; height: auto; align-self: start;"
                        src="{{ .Params.right_arrow |relURL }}">
                    </div>
                </a>

                <a href="#highlight_4">
                    <div class="item">
                        <p class="index">4.</p>
                        <p class="label">Observability And Monitoring</p>
                        <img style="width: 28px; height: auto; align-self: start;"
                        src="{{ .Params.right_arrow |relURL }}">
                    </div>
                </a>
            </div>

            <h3 class="project-highlights-subheading mt-5" id="highlight_1">
                1. Defining A Vision For The Product And The Partnership
            </h3>

            <h4 class="project-highlights-sub-subheading mt-3">
                The First Seven Seconds
            </h4>

            <p class="paragraph-body mt-3">
                Monnai had a very clear vision of how they wanted to change the fintech industry when they started. To jump-start their development, they decided to engage Incubyte in parallel with creating their internal engineering team. We were able to get from a sales call to starting work in under 15 days.
            </p>

            <h4 class="project-highlights-sub-subheading">
                As Green As It Can Get
            </h4>

            <p class="paragraph-body mt-3">
                Starting with a blank slate, in this case, a blank Confluence page, wouldn’t be a wrong statement when we started the project. The Monnai team had initial ideas on the endpoints they wanted to create to support their API business, which we started building on.
            </p>

            <p class="paragraph-body">
                Such greenfield projects can cause imaginations to run wild and in our experience, we have seen projects accrue technical debt very fast as the team size and product complexity increase.
            </p>

            <p class="paragraph-body">
                That’s why our focus was on the right practices like TDD and automation from day one, while we worked closely with the client to uncover the thinnest slice that could become an MVP. The aim was not only to go to market quickly but to also enable sustainable growth of the feature set as time passes. 
            </p>

            <p class="paragraph-body">
                The productivity pattern of a growing company typically looks like the following, exponential at first and then a dip!
            </p>
        </div>
        <div class="banner-container bg-grey">
            <img class="img_small" src="{{ .Params.image_1 |relURL }}" alt="productivity pattern of a growing company">
        </div>
        <div class="text-container">
            <h3 class="project-highlights-subheading mt-4" id="highlight_2">
                2. AUTOMATION, AUTOMATION, AUTOMATION
            </h3>

            <h4 class="project-highlights-sub-subheading mt-3">
                Walking Skeleton 
            </h4>
            <p class="paragraph-body mt-3">
                Most teams do not take up ops work like build, deployment, infrastructure allocation, and database versioning until the very last moment. This becomes a reason for hurdles at the later stages of PDLC.
            </p>
            <p class="paragraph-body">
                Starting with a walking skeleton of the software ensures smooth deployments from the very beginning since every component needed for the software architecture and practices is made available. This includes, at the very least, automated builds, code scans, testing, database upgrades, and code deployment. 
            </p>
            <p class="paragraph-body">
                Essentially we started by automating the process along with every component needed to achieve the end architecture. 
            </p>

            <h4 class="project-highlights-sub-subheading">
                Test Strategy
            </h4>
            <p class="paragraph-body mt-3">
                First, there was TDD! We have been practicing outside-in TDD for some time. While TDD enabled us to achieve high code coverage and incremental evolution of the architecture, the missing pieces causing project delays were because of lack of collaboration, high cost of coordination, failure to agree on things, longer test cycles, etc.
            </p>
            <p class="paragraph-body">
                This is why we decided to layer on BDD and the Three Amigos working model for the Monnai engagement. We took the QA function, which typically occurs almost after all work is done, and shifted it all the way left in the timeline. That meant we started automating test cases and involved all three amigos - analysts, developers, and QA, in the discovery process itself. 
            </p>
            <p class="paragraph-body">
                This increased buy-in from all stakeholders and reduced back and forth between the proverbial walls.
            </p>

            <h4 class="project-highlights-sub-subheading">
                Automated Fault Tolerance 
            </h4>
            <p class="paragraph-body mt-3">
                We knew that we won’t have the luxury of a “maintenance window” due to customers being located worldwide. So we designed our components in a way that any new deployment will create and start a server, make sure it is ready to accept traffic, only then route traffic to new servers, and then destroy old servers. This allowed us to deploy without any downtime, even in peak traffic conditions.
            </p>
            <p class="paragraph-body">
                But, what if servers crashed or worse, what if a server is running but for some reason, not accepting the traffic? We put a liveness probe to each component that checks if the server can accept traffic, and if not, restart it. Also, there are always two load-balanced replicas in case of a server failure. 
            </p>
            <p class="paragraph-body">
                But wait, there is more! What if servers receive requests such that memory or CPU consumption shoot up? We put in horizontal scaling such that before an overload, a standby server is started and makes itself ready to serve the increased traffic. The mechanism will kill the extra instance once a dip in traffic is observed.
            </p>
        </div>
        <div class="text-container">
            <h3 class="project-highlights-subheading mt-4" id="highlight_3">
                3. CLOUD INFRASTRUCTURE
            </h3>

            <p class="paragraph-body mt-4">
                We emphasize automation everywhere. Not just artifacts, and testing, but infrastructure should be automated as well. We use Terraform to create and manage the infrastructure. It has served us very well so far, eliminating any chance of human error in creating infrastructure. 
            </p>
            <p class="paragraph-body">
                Human errors are not limited to system crashes, but security lapses as well. A security lapse can cause more damage than other system issues. Since the infrastructure is in code, and each code change (read infrastructure change) is peer-reviewed and scanned automatically by a code scanner, there are fewer chances of deploying vulnerable infrastructure.
            </p>
            <p class="paragraph-body">
                As a bonus since everything is automated, replicating an environment became trivial too.
            </p>
        </div>
        <div class="text-container">

            <h3 class="project-highlights-subheading mt-4" id="highlight_4">
                4. OBSERVABILITY AND MONITORING 
            </h3>

            <p class="paragraph-body mt-4">
                Due to the dynamic nature of components and the need for our system to communicate with multiple external data sources, we had to employ elegant observability solutions. We rely on proprietary solutions that support open-source implementation to avoid vendor locking.
            </p>

            <h4 class="project-highlights-sub-subheading">
                Logs
            </h4>

            <p class="paragraph-body mt-3">
                All logs are captured and sent to a centralized server for query and review. Such centrally aggregated logs make your humdrum data insightful and real-time!
            </p>

            <h4 class="project-highlights-sub-subheading">
                Metrics
            </h4>

            <p class="paragraph-body mt-3">
                Different levels of metrics like CPU, memory, threads, number of requests, number of active servers, etc. are collected and sent to a centralized server. A custom-made dashboard helps keep an eye on the health of infrastructure and become proactive as opposed to reactive!
            </p>

            <h4 class="project-highlights-sub-subheading">
                Traces
            </h4>

            <p class="paragraph-body mt-3">
                Observing one API call is difficult as we have a distributed system with several internal and external endpoints. We capture and store traces of each call and allow developers to view the whole tree in a nice graphical way so that debugging and finding the cause of failure or slowness becomes easy.
            </p>

            <h4 class="project-highlights-sub-subheading">
                Alarms
            </h4>

            <p class="paragraph-body mt-3">
                None of these are helpful if a person has to sit and analyze logs, traces, or metrics manually, we believe in automating these as well. Any anomalies like errors in logs will throw an alarm email to relevant stakeholders.
            </p>
        </div>
    </div>
    {{ partial "recommend-case-study.html" . }}
    {{ partial "lets-talk.html" . }}
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");


    .template-container {
        margin: 0 50px 0 50px;
    }

    .title {
        margin-top: 50px;
    }

    .case-study {
        font-family: 'Nunito Sans', serif !important
    }

    .case-study p, h1, h2, h3, h4 {
        font-family: 'Nunito Sans', serif !important
    }

    .text-container {
        margin: 0 auto 0 auto;
        max-width: 1100px;
    }

    .case-study .title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 141.9%;
        letter-spacing: 0.06em;

        color: #000000;
    }

    .summary {
        margin: 20px 0 80px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;

        color: #0E3252;
    }

    .section-heading {
        color: #0E3252;
        font-size: 32px;
        font-weight: 800;
    }

    .stats {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: #f1f1f1;
        border-radius: 12px;
        flex: 1;
        padding: 12px;
        padding-top: 28px;
        min-width: 200px !important;
    }

    .stats>p {
        margin: 0
    }

    .stats>p:first-child {
        color: #0E3252;
        font-size: 60px;
        line-height: 32px;
        font-weight: 700;
    }

    .stats-container {
        display: flex;
        row-gap: 54px;
        overflow-x: auto;
        margin-bottom: 62px;
        text-align: center;
        gap: 20px;
    }

    .testimonial {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .testimonial .inner {
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        margin: 0 auto 0 auto;
    }

    .testimonial p {
        max-width: 1100px;
        margin: 0 auto 0 auto;
    }

    .testimonial .text {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    .testimonial .name {
        max-width: 1100px;
        margin: 0 auto 0 auto;
        font-weight: 400;
        font-size: 16px;
        padding-top: 8px;
    }

    .banner-container {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .img_small {
        width: 50% !important ;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .bg-deep_blue {
        background-color: #0E3252;
    }

    .bg-grey {
        background-color: #F1F1F1;
    }

    .banner-container>img {
        width: 100%;
        margin: 0 auto 0 auto;
        display: flex;
    }

    .client-details-container {
        display: flex;
        gap: 54px;
    }

    .details-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .details-box>p {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: black;
        margin: 0;
    }

    .details-box>p:first-child {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #666666;
    }

    .paragraph-body {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.06em;
        color: black;

        margin-bottom: 2em;
    }

    .mt-5 {
        margin-top: 3em !important;
    }

    .what-we-did-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 54px;
        margin-bottom: 62px;
        justify-content: space-between;
    }

    .what-we-did-container>.item {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        align-items: center;
    }

    .what-we-did-container>.item>.label {
        color: black;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.06em;
        max-width: 24em;
        margin: auto;
    }

    .what-we-did-container>.item>.index {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.06em;
        color: #000000;
    }

    .project-highlights-heading {
        color: #0E3252;
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: 800;
    }

    .project-highlights-subheading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #0E3252;
    }

    .project-highlights-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0 0;
        grid-template-areas:
            "item item"
            "item item";
    }

    @media (max-width: 991px) {
        .project-highlights-grid {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 0 0;
            grid-template-areas:
                "item"
                "item"
                "item"
                "item";
        }
        

        .testimonial .inner {
            padding: 0 20px 0 20px;
        }

    }

    @media (max-width: 425px) {
        .img_small {
            width: 100% !important ;
        }
        .template-container {
            margin: 0 20px 0 20px;
        }
        .case-study .title {
            font-size: 32px;
        }
        .summary {
            font-size: 20px;    
            margin: 25px 0 50px 0;
        }
        .testimonial .text {
            font-size: 16px;
        }
        .testimonial .name {
            font-size: 14px;
        }
        .section-heading {
            font-size: 28px;
        }
        .project-highlights-subheading {
            font-size: 20px;
        }
        .project-highlights-sub-subheading {
            font-size: 18px;
        }
        .paragraph-body {
            font-size: 16px;
        }
        .stats>p:first-child {
            font-size: 48px;
        }
    }

    .project-highlights-grid>a>.item {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        align-items: flex-baseline;
    }

    .project-highlights-grid>a>.item>.index {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.06em;
        text-align: left;
        color: black;
    }

    .project-highlights-grid>a>.item>.label {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.06em;
        max-width: 24em;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #0E3252;
        color: black;
    }

    .project-highlights-sub-subheading {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-transform: capitalize;

        color: #0E3252;
    }

</style>
