<div class="case-study">
  <div class="template-container">
    <div class="text-container">
      <h1 class="title text-center">{{ .Title }}</h1>
      <p class="summary text-center">{{ .Description }}</p>
      <p></p>

      <h2 class="section-heading text-center">OUTCOMES</h2>

      <div class="stats-container mt-5">
        <div class="stats">
          <p>11</p>
          <p>Countries</p>
        </div>
        <div class="stats">
          <p>17</p>
          <p>Data Partner Integrations</p>
        </div>
        <div class="stats">
          <p>3</p>
          <p>Months For Going Live</p>
        </div>
        <div class="stats">
          <p>92%+</p>
          <p>Automatically Tested</p>
        </div>
        <div class="stats">
          <p>$6.5</p>
          <p>Million of Funding In Year One Of Going Live </p>
        </div>
      </div>
    </div>
    <div class="banner-container bg-monnai_blue">
      <img
        class="img_small"
        src="{{ .Params.banner_image |relURL }}"
        alt="{{ .Title }}"
      />
    </div>
    <div class="text-container">
      <h2 class="section-heading">BACKGROUND</h2>

      <div class="client-details-container mt-4">
        <div class="details-box">
          <p>Client</p>
          <p>Monnai</p>
        </div>
        <div class="details-box">
          <p>Industry</p>
          <p>Fintech</p>
        </div>
      </div>

      <p class="paragraph-body">
        The fintech market size stood at USD 112.5 billion in the year 2021.
        Yet, consumer data used for decision-making remain outdated and
        fragmented. Most provide limited data points and do not even work across
        countries and continents. 
      </p>
      <p class="paragraph-body">
        Monnai is on its way to changing this by providing over 500+ global and
        standardized consumer insights, which may be a better predictor than
        just one’s Social Security Number or similar other identifiers.
      </p>

      <h2 class="section-heading mt-5">WHAT WE DID</h2>
      <p class="paragraph-body">
        A carefully selected tech stack, high levels of automation, and
        following best practices from day one, helped us achieve the following
        for Monnai: 
      </p>
      <div class="what-we-did-container">
        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_1 |relURL }}"
            />
          </div>
          <p class="label">Go to market in three months</p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_2 |relURL }}"
            />
          </div>
          <p class="label">
            The ability to respond quickly to feedback from potential customers
          </p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_3 |relURL }}"
            />
          </div>
          <p class="label">Onboarding their first customer within six months</p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_4 |relURL }}"
            />
          </div>
          <p class="label">
            Sustained frequent releases to ensure the product evolved rapidly
            and incrementally
          </p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_5 |relURL }}"
            />
          </div>
          <p class="label">An amazing team morale</p>
        </div>

        <div class="item">
          <div class="rounded-circle bg-secondary">
            <img
              class="rounded-circle"
              style="width: 62px; height: 62px; background: #d9d9d9 !important"
              src="{{ .Params.what_we_did_icon_6 |relURL }}"
            />
          </div>
          <p class="label">
            $6.5 million of funding in just one year of going live.
          </p>
        </div>
      </div>
    </div>
    <div class="banner-container bg-deep_blue text-center testimonial">
      <div class="inner" style="padding: 0px 25px">
        <img
          style="width: 62px; height: auto"
          src="{{ .Params.open_quote |relURL }}"
        />
        <p class="paragraph-body text-white text">
          We went from an initial call with Incubyte to starting work in under
          15 days and from an idea to a working MVP in just three months. They
          started from scratch, setup our cloud infrastructure around high
          availability, performance and security, and helped us implement the
          right stack with the right setup. Their focus on best practices
          ensured that our product continued to evolve rapidly while we build
          our internal team in parallel. The well written code also made
          onboarding internal engineers smooth. Overall, they got us started on
          the right foot. They stood out as an agency that focussed heavily on
          quality in addition to just getting things done. We learnt a lot from
          Incubyte and would recommend them as engineering partners for any
          start-up launching new products.
        </p>
        <img
          style="width: 62px; height: auto; align-self: end"
          src="{{ .Params.close_quote |relURL }}"
        />
      </div>
      <img
        class="rounded-circle"
        style="width: 62px; height: 62px; background: #d9d9d9 !important"
        src="{{ .Params.testimonial_person |relURL }}"
      />
      <p class="label text-white name">Ravish Patel, Co-founder at Monnai</p>
    </div>
    <div class="text-container">
      <h2 class="project-highlights-heading">PROJECT HIGHLIGHTS</h2>

      <div class="project-highlights-grid">
        <a href="{{.Page.Permalink}}#highlight_1">
          <div class="item">
            <p class="index">1.</p>
            <p class="label">
              Defining A Vision For The Product And The Partnership
            </p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_2">
          <div class="item">
            <p class="index">2.</p>
            <p class="label">Automation, Automation, Automation</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_3">
          <div class="item">
            <p class="index">3.</p>
            <p class="label">Cloud Infrastructure</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>

        <a href="{{.Page.Permalink}}#highlight_4">
          <div class="item">
            <p class="index">4.</p>
            <p class="label">Observability And Monitoring</p>
            <img
              style="width: 28px; height: auto; align-self: start"
              src="{{ .Params.right_arrow |relURL }}"
            />
          </div>
        </a>
      </div>

      <h3 class="project-highlights-subheading mt-5" id="highlight_1">
        1. Defining A Vision For The Product And The Partnership
      </h3>

      <h4 class="project-highlights-sub-subheading mt-3">
        The First Seven Seconds
      </h4>

      <p class="paragraph-body mt-3">
        Monnai had a very clear vision of how they wanted to change the fintech
        industry when they started. To jump-start their development, they
        decided to engage Incubyte in parallel with creating their internal
        engineering team. We were able to get from a sales call to starting work
        in under 15 days.
      </p>

      <h4 class="project-highlights-sub-subheading">As Green As It Can Get</h4>

      <p class="paragraph-body mt-3">
        Starting with a blank slate, in this case, a blank Confluence page,
        wouldn’t be a wrong statement when we started the project. The Monnai
        team had initial ideas on the endpoints they wanted to create to support
        their API business, which we started building on.
      </p>

      <p class="paragraph-body">
        Such greenfield projects can cause imaginations to run wild and in our
        experience, we have seen projects accrue technical debt very fast as the
        team size and product complexity increase.
      </p>

      <p class="paragraph-body">
        That’s why our focus was on the right practices like TDD and automation
        from day one, while we worked closely with the client to uncover the
        thinnest slice that could become an MVP. The aim was not only to go to
        market quickly but to also enable sustainable growth of the feature set
        as time passes. 
      </p>

      <p class="paragraph-body">
        The productivity pattern of a growing company typically looks like the
        following, exponential at first and then a dip!
      </p>
    </div>
    <div class="banner-container bg-grey">
      <img
        class="img_small"
        src="{{ .Params.image_1 |relURL }}"
        alt="productivity pattern of a growing company"
      />
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_2">
        2. AUTOMATION, AUTOMATION, AUTOMATION
      </h3>

      <h4 class="project-highlights-sub-subheading mt-3">Walking Skeleton </h4>
      <p class="paragraph-body mt-3">
        Most teams do not take up ops work like build, deployment,
        infrastructure allocation, and database versioning until the very last
        moment. This becomes a reason for hurdles at the later stages of PDLC.
      </p>
      <p class="paragraph-body">
        Starting with a walking skeleton of the software ensures smooth
        deployments from the very beginning since every component needed for the
        software architecture and practices is made available. This includes, at
        the very least, automated builds, code scans, testing, database
        upgrades, and code deployment. 
      </p>
      <p class="paragraph-body">
        Essentially we started by automating the process along with every
        component needed to achieve the end architecture. 
      </p>

      <h4 class="project-highlights-sub-subheading">Test Strategy</h4>
      <p class="paragraph-body mt-3">
        First, there was TDD! We have been practicing outside-in TDD for some
        time. While TDD enabled us to achieve high code coverage and incremental
        evolution of the architecture, the missing pieces causing project delays
        were because of lack of collaboration, high cost of coordination,
        failure to agree on things, longer test cycles, etc.
      </p>
      <p class="paragraph-body">
        This is why we decided to layer on BDD and the Three Amigos working
        model for the Monnai engagement. We took the QA function, which
        typically occurs almost after all work is done, and shifted it all the
        way left in the timeline. That meant we started automating test cases
        and involved all three amigos - analysts, developers, and QA, in the
        discovery process itself. 
      </p>
      <p class="paragraph-body">
        This increased buy-in from all stakeholders and reduced back and forth
        between the proverbial walls.
      </p>

      <h4 class="project-highlights-sub-subheading">
        Automated Fault Tolerance 
      </h4>
      <p class="paragraph-body mt-3">
        We knew that we won’t have the luxury of a “maintenance window” due to
        customers being located worldwide. So we designed our components in a
        way that any new deployment will create and start a server, make sure it
        is ready to accept traffic, only then route traffic to new servers, and
        then destroy old servers. This allowed us to deploy without any
        downtime, even in peak traffic conditions.
      </p>
      <p class="paragraph-body">
        But, what if servers crashed or worse, what if a server is running but
        for some reason, not accepting the traffic? We put a liveness probe to
        each component that checks if the server can accept traffic, and if not,
        restart it. Also, there are always two load-balanced replicas in case of
        a server failure. 
      </p>
      <p class="paragraph-body">
        But wait, there is more! What if servers receive requests such that
        memory or CPU consumption shoot up? We put in horizontal scaling such
        that before an overload, a standby server is started and makes itself
        ready to serve the increased traffic. The mechanism will kill the extra
        instance once a dip in traffic is observed.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_3">
        3. CLOUD INFRASTRUCTURE
      </h3>

      <p class="paragraph-body mt-4">
        We emphasize automation everywhere. Not just artifacts, and testing, but
        infrastructure should be automated as well. We use Terraform to create
        and manage the infrastructure. It has served us very well so far,
        eliminating any chance of human error in creating infrastructure. 
      </p>
      <p class="paragraph-body">
        Human errors are not limited to system crashes, but security lapses as
        well. A security lapse can cause more damage than other system issues.
        Since the infrastructure is in code, and each code change (read
        infrastructure change) is peer-reviewed and scanned automatically by a
        code scanner, there are fewer chances of deploying vulnerable
        infrastructure.
      </p>
      <p class="paragraph-body">
        As a bonus since everything is automated, replicating an environment
        became trivial too.
      </p>
    </div>
    <div class="text-container">
      <h3 class="project-highlights-subheading mt-4" id="highlight_4">
        4. OBSERVABILITY AND MONITORING 
      </h3>

      <p class="paragraph-body mt-4">
        Due to the dynamic nature of components and the need for our system to
        communicate with multiple external data sources, we had to employ
        elegant observability solutions. We rely on proprietary solutions that
        support open-source implementation to avoid vendor locking.
      </p>

      <h4 class="project-highlights-sub-subheading">Logs</h4>

      <p class="paragraph-body mt-3">
        All logs are captured and sent to a centralized server for query and
        review. Such centrally aggregated logs make your humdrum data insightful
        and real-time!
      </p>

      <h4 class="project-highlights-sub-subheading">Metrics</h4>

      <p class="paragraph-body mt-3">
        Different levels of metrics like CPU, memory, threads, number of
        requests, number of active servers, etc. are collected and sent to a
        centralized server. A custom-made dashboard helps keep an eye on the
        health of infrastructure and become proactive as opposed to reactive!
      </p>

      <h4 class="project-highlights-sub-subheading">Traces</h4>

      <p class="paragraph-body mt-3">
        Observing one API call is difficult as we have a distributed system with
        several internal and external endpoints. We capture and store traces of
        each call and allow developers to view the whole tree in a nice
        graphical way so that debugging and finding the cause of failure or
        slowness becomes easy.
      </p>

      <h4 class="project-highlights-sub-subheading">Alarms</h4>

      <p class="paragraph-body mt-3">
        None of these are helpful if a person has to sit and analyze logs,
        traces, or metrics manually, we believe in automating these as well. Any
        anomalies like errors in logs will throw an alarm email to relevant
        stakeholders.
      </p>
      <p class="paragraph-body mt-3">
         *All the metrics in this case study are accurate as of the time of publishing.
      </p>
    </div>
  </div>
  {{ partial "recommend-case-study.html" . }} {{ partial "lets-talk.html" . }}
</div>

<style>
  .bg-monnai_blue {
    background-color: #202475;
  }
</style>
