<div class="mt-5 newsletter">
  <form
    action="https://tinyletter.com/incubyte-test"
    method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/incubyte-test', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <h2>Hey You!</h2>
    <p>
      You were caught scrolling too fast!🚨
      <br>
      Tell me your email so that I can inform and monitor you next time we release a blog!
    </p>
    <div class="row">
      <div class="col-lg-10 col-md-10 d-flex align-items-center">
        <input aria-label="Input your email to subscribe to Incubyte" class="form-control" type="text"
               placeholder="name@email.com" name="email" id="tlemail" />
      </div>
      <div class="col-lg-2 col-md-2 mt-xl-0 mt-lg-0 mt-md-0 mt-2">
        <input type="hidden" value="1" name="embed" />
        <input class="btn btn-primary" type="submit" value="Subscribe" />
      </div>
    </div>
  </form>
</div>