<!-- DNS preconnect -->
<meta http-equiv="x-dns-prefetch-control" content="on" />
<link rel="preconnect" href="//ajax.googleapis.com" />
<link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin="anonymous" />
<link rel="preconnect" href="https://use.fontawesome.com" crossorigin />
<link rel="preconnect" href="//cdnjs.cloudflare.com" />
<link rel="preconnect" href="//www.googletagmanager.com" />
<link rel="preconnect" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="https://fonts.gstatic.com" />
<link rel="dns-prefetch" href="https://use.fontawesome.com" />
<link rel="dns-prefetch" href="//ajax.googleapis.com" />
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
<link rel="dns-prefetch" href="//www.googletagmanager.com" />
<link rel="dns-prefetch" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//connect.facebook.net" />
<link rel="dns-prefetch" href="//platform.linkedin.com" />
<link rel="dns-prefetch" href="//platform.twitter.com" />

<!-- plugins + stylesheet -->
{{ $styles := slice }} {{ range site.Params.plugins.css }} {{ if findRE "^http"
.link }}
<link
  crossorigin="anonymous"
  media="all"
  rel="stylesheet"
  href="{{ .link | absURL }}"
  {{.attributes
  |
  safeHTMLAttr}} />
{{ else }} {{ $styles = $styles | append (resources.Get .link) }} {{ end }} {{
end }} {{ $styles := $styles | append (resources.Get "scss/style.scss" |
resources.ExecuteAsTemplate "style.scss" . | toCSS) }} {{ $styles := $styles |
resources.Concat "/css/style.css" | minify | fingerprint "sha512"}}
<style
  crossorigin="anonymous"
  media="all"
  type="text/css"
  integrity="{{ $styles.Data.Integrity }}">
  {{$styles.Content | safeCSS}}
</style>

<style>
  /* Header */
  .dropdown-menu {
    background-color: #12375a;
    border-radius: 10px;
    padding: 20px;
  }

  .dropdown-item {
    text-align: center;
    color: #fff;
    padding: 10px;
    font-size: 0.9em;
  }

  .dropdown-item:hover {
    background-color: #0b233a;
    color: #eee;
  }

  .big-btn {
    background-color: #0f2f4c;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    padding: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  input {
    border-radius: 20px !important;
    padding-left: 20px !important;
  }

  .big-btn:hover {
    color: #fff;
  }

  .navigation-bar {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #0e3252 !important;
    padding: 8px 50px;
  }

  @media (max-width: 356px) {
    .nav-search-form {
      margin-left: 0 !important;
    }
  }

  @media (max-width: 991px) {
    .navigation-bar {
      padding: 8px 20px;
    }
  }

  @media (max-width: 760px) {
    .footer-top-links ul {
      padding: 0;
    }

    .footer-bottom-links ul {
      padding: 0;
    }

    .pagination {
      max-width: 100%;
      transform: scale(0.9);
    }
  }

  @media (max-width: 400px) {
    .navigation-bar {
      padding: 8px 10px;
    }

    .theme-toggle {
      display: none;
    }
  }

  .navbar-brand {
    width: 100%;
  }

  .nav-link {
    color: #0e3252;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: #0e3252;
  }

  .nav-search-form {
    width: 12em;
  }

  .nav-search-input {
    border-radius: 20px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .nav-search-input:focus {
    border-color: #0e3252;
  }

  .nav-search-button {
    background-color: #0e3252 !important;
    border-radius: 20px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    padding-right: 12px;
    margin-left: -8px;
  }

  .nav-search-button:hover,
  .nav-search-button:focus,
  .nav-search-button:active,
  .nav-search-button:disabled {
    background-color: #0e3252 !important;
  }

  .navbar-light .navbar-nav .show > .nav-link {
    color: #0e3252;
  }

  .card-img {
    aspect-ratio: auto;
    min-height: 180px;
  }

  .display-3 {
    text-align: left;
  }

  /* List */
  .btn-main-art {
    background-color: #102c47;
  }

  .btn-main-art:hover {
    background-color: #102c47 !important;
  }

  /* Single */
  .content a {
    color: #32a1d4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: capitalize;
  }

  .content pre {
    margin: 0px !important;
    padding: 24px 12px;
    padding-bottom: 2px;
    overflow: hidden;
  }

  .content > .highlight > pre > code > span {
    margin: -14px 0px;
  }

  /* Footer */
  :root {
    --footer-fg-color: #e1e2e6;
  }

  footer {
    margin-top: 12px;
    background-color: #101319;
    color: var(--footer-fg-color);
  }

  u {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
  }

  footer a {
    color: var(--footer-fg-color) !important;
  }

  footer p {
    color: var(--footer-fg-color);
  }

  footer i {
    color: var(--footer-fg-color) !important;
    font-size: 1.25em;
  }

  .badge.rounded-pill {
    padding: 5px 10px;
  }

  .back-link {
    font-size: 14px;
    color: #838383;
  }

  .card {
    border-radius: 10px;
    height: 100%;
  }

  .card .card-body {
    padding: 10px !important;
  }

  .card .card-img {
    margin-bottom: 0 !important;
  }

  h3 .post-title {
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 1px;
  }

  footer h4 {
    font-size: 12px;
    font-weight: 800;
    padding-top: 16px;
    margin-bottom: -8px;
    letter-spacing: 1px;
  }

  .badge {
    letter-spacing: 1px;
    margin-top: 0.25rem;
    margin-right: 0.05rem;
  }

  .card-text {
    margin-top: 10px;
    line-height: 1.5;
  }

  .display-4 {
    font-size: 2.5rem;
  }

  .theme-toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* Light Theme */
  .card {
    background-color: #f8f8f8;
  }
  /* END: Light Theme */

  /* Dark Theme */
  :root {
    --dark-body-background: #222222;
    --extra-dark-background: #111111;
    --dark-charcoal-background: #333333;
    --dark-pagination-color: #555555;
    --link-color: #32a1d4;
    --app-primary: #24908e;
  }

  body.dark-theme {
    background: var(--dark-body-background);
  }

  body.dark-theme .navbar-brand img {
    filter: invert(1) hue-rotate(180deg);
  }

  body.dark-theme a.post-title,
  .card-text {
    color: #fff;
  }

  body.dark-theme .card {
    background-color: var(--extra-dark-background);
  }

  body.dark-theme .display-5,
  body.dark-theme .display-4 {
    color: white;
  }

  body.dark-theme .nav-link {
    color: white !important;
  }

  body.dark-theme .nav-link:hover {
    color: white !important;
  }

  body.dark-theme .nav-search-input:focus {
    border-color: var(--app-primary) !important;
  }

  body.dark-theme .page-item .page-link {
    background: var(--dark-pagination-color) !important;
    color: white !important;
  }

  body.dark-theme .pagination .page-item.active .page-link {
    background: var(--app-primary) !important;
    color: #fff !important;
  }

  body.dark-theme blockquote,
  body.dark-theme article table * {
    background: var(--extra-dark-background) !important;
  }

  body.dark-theme article .content *:not(code *) {
    color: white !important;
  }

  body.dark-theme article .content a {
    color: var(--link-color) !important;
  }

  body.dark-theme h1,
  body.dark-theme h2,
  body.dark-theme h3,
  body.dark-theme h4,
  body.dark-theme h5 {
    color: white !important;
  }

  body.dark-theme .fa-bars {
    color: white !important;
  }

  body.dark-theme .btn-primary,
  body.dark-theme .big-btn {
    background: var(--app-primary) !important;
  }

  body.dark-theme .btn-primary:hover,
  body.dark-theme .btn-primary:focus,
  body.dark-theme .big-btn:hover,
  body.dark-theme .big-btn:focus {
    filter: brightness(0.8);
  }

  body.dark-theme .fas.fa-sun {
    color: var(--app-primary);
  }

  body.dark-theme .newsletter p {
    color: white;
  }

  body.dark-theme input {
    background-color: var(--extra-dark-background) !important;
    color: white !important;
  }

  /*END:  Dark Theme */
</style>
