<!-- DNS preconnect -->
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="preconnect" href="//ajax.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link rel="preconnect" href="https://use.fontawesome.com" crossorigin>
<link rel="preconnect" href="//cdnjs.cloudflare.com">
<link rel="preconnect" href="//www.googletagmanager.com">
<link rel="preconnect" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="dns-prefetch" href="https://use.fontawesome.com">
<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//connect.facebook.net">
<link rel="dns-prefetch" href="//platform.linkedin.com">
<link rel="dns-prefetch" href="//platform.twitter.com">

<!-- plugins + stylesheet -->
{{ $styles := slice }}
{{ range site.Params.plugins.css }}
{{ if findRE "^http" .link }}
<link crossorigin="anonymous" media="all" rel="stylesheet" href="{{ .link | absURL }}" {{.attributes | safeHTMLAttr}} >
{{ else }}
{{ $styles = $styles | append (resources.Get .link) }}
{{ end }}
{{ end }}
{{ $styles := $styles | append (resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS) }}
{{ $styles := $styles | resources.Concat "/css/style.css" | minify  | fingerprint "sha512"}}
<style crossorigin="anonymous" media="all" type="text/css" integrity="{{ $styles.Data.Integrity }}">
    {{$styles.Content | safeCSS}}
</style>

<style>
    /* Header */
    .dropdown-menu {
        background-color: #12375a;
        border-radius: 10px;
        padding: 20px;
    }

    .dropdown-item {
        text-align: center;
        color: #fff;
        padding: 10px;
        font-size: 0.9em;
    }

    .dropdown-item:hover {
        background-color: #0b233a;
        color: #eee;
    }

    .big-btn {
        background-color: #0F2F4C;
        color: #fff;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
    }

    .big-btn:hover {
        color: #fff;
    }

    .navigation-bar {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        color: #0e3252 !important;
        padding: 8px 0px;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #0e3252;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
        color: #0e3252;
    }

    .navbar-light .navbar-nav .show>.nav-link {
        color: #0e3252;
    }

    .card-img {
        min-height: 200px;
        height: 10vh;
    }

    .display-3 {
        text-align: left;
    }

    /* List */
    .btn-main-art {
        background-color: #102c47;
    }

    .btn-main-art:hover {
        background-color: #102c47 !important;
    }

    /* Single */
    .content a {
        color: #32a1d4;
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: capitalize;
    }

    .content pre {
        margin: 0px !important;
        padding: 24px 12px;
        padding-bottom: 2px;
        overflow: hidden;
    }

    .content>.highlight>pre>code>span {
        margin: -14px 0px;
    }

    /* Footer */
    :root {
        --footer-fg-color: #364554;
    }

    footer {
        margin-top: 12px;
        background-color: #f1f1f2;
        color: var(--footer-fg-color);
    }

    u {
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: #aeb8c0 2px dotted;
        border-width: thin;
        word-spacing: 0.2em;
    }

    footer a {
        color: var(--footer-fg-color) !important;
    }

    footer p {
        color: var(--footer-fg-color);
    }

    footer i {
        color: var(--footer-fg-color) !important;
        font-size: 1.25em;
    }
</style>
