<div class="mt-5 newsletter pixel-style-box">
  <iframe id="subscription-form-iframe" name="subscription-form-iframe" style="display:none;"></iframe>

  <form
    action="https://hooks.airtable.com/workflows/v1/genericWebhook/appZga3G6CMmBbNQJ/wflzPU7JTdzStS9aT/wtrbcKCrRNfPAh0e8"
    method="POST"
    target="subscription-form-iframe"
    class="h-100 d-flex flex-column justify-content-around"
  >
    <div>
      <p>
      <i>
        <strong>
          👋 Hi, nice to meet you traveler!
          You are reading the Incubyte blog, where we share our thoughts on software development and other topics.
          If you want to stay up to date with our latest posts, subscribe to our newsletter below.
        </strong>
      </i>
      </p>
    </div>

    <div id="subscription-form-input">
      <div class="row">
        <div class="col-max-small-container col-lg-9 col-md-9 d-flex align-items-center">
          <input aria-label="Input your email to subscribe to Incubyte"
                 class="form-control"
                 name="email"
                 placeholder="name@email.com"
                 type="text" />
        </div>
        <div class="col-max-small-container col-lg-3 col-md-3 mt-md-0 mt-2 text-center">
          <button class="btn btn-primary width-small-100" type="submit" >
            Subscribe
          </button>
        </div>
      </div>
    </div>

    <div class="text-primary font-weight-bold" id="subscription-form-result">
    </div>
  </form>
</div>

<script>
  // Add an event listener to the iframe to detect when it has finished loading
  const iframe = document.querySelector('iframe[name="subscription-form-iframe"]');
  iframe.addEventListener('load', () => {
    document.querySelector('#subscription-form-input').innerHTML = ''
    document.querySelector('#subscription-form-result').innerHTML = 'Ha! I got you!... and your email too!'
  });
</script>
