<div class="mt-5 newsletter">
  <iframe id="subscription-form-iframe" name="subscription-form-iframe" style="display:none;"></iframe>

  <form
    action="https://hooks.airtable.com/workflows/v1/genericWebhook/appZga3G6CMmBbNQJ/wflzPU7JTdzStS9aT/wtrbcKCrRNfPAh0e8"
    method="POST"
    target="subscription-form-iframe"
  >
    <h2>Hey You!</h2>
    <p>
      You were caught scrolling too fast!🚨
      <br>
      Tell me your email so that I can inform you next time we release a blog.
    </p>

    <div id="subscription-form-input">
      <div class="row">
        <div class="col-lg-10 col-md-10 d-flex align-items-center">
          <input
            aria-label="Input your email to subscribe to Incubyte"
            class="form-control"
            name="email"
            placeholder="name@email.com"
            required
            type="email"
          />
        </div>
        <div class="col-lg-2 col-md-2 mt-xl-0 mt-lg-0 mt-md-0">
          <input class="btn big-btn" type="submit" value="Subscribe" />
        </div>
      </div>
    </div>

    <div class="text-primary font-weight-bold" id="subscription-form-result">
    </div>
  </form>
</div>

<script>
  // Add an event listener to the iframe to detect when it has finished loading
  const iframe = document.querySelector('iframe[name="subscription-form-iframe"]');
  iframe.addEventListener('load', () => {
    document.querySelector('#subscription-form-input').innerHTML = ''
    document.querySelector('#subscription-form-result').innerHTML = 'Ha! I got you!... and your email too!'
  });
</script>
